h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 1.5em;
  width: 101vw;
  font-size: 3em;
  text-align: center;
  color: black;
  padding-top: 0.7em;
  /* Below will do the gradient background of title */
  background: linear-gradient(
      to right,
      rgba(255, 215, 255, 0) 0%,
      rgba(225, 255, 255, 0.5) 20%,
      rgba(255, 255, 255, 0) 61%
    ),
    linear-gradient(
      rgb(51, 93, 167) 52%,
      rgb(224, 246, 255) 60%,
      rgb(241, 142, 22) 61%
    );
}

ul {
  list-style-type: none;
}
.navbar {
  background-color: #426caf;
  color: #ffffff;
  height: 4em;
}
.navbar a {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.columns a {
  color: #ffffff;
}
.columns p {
  font-family: Arial, Helvetica, sans-serif;
}
.columns ol {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin: 10em;
}
.blog-posts {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 10vw;
  margin-right: 60vw;
  width: 40vw;
  background: #ffffff;
}
.photos {
  /* margin-left: 60vw; */
  display: flex;
  flex-direction: column;
  right: 0;
  margin-right: 10vw;
  background: #ffffff;
  justify-content: center;
}
.content .container {
  display: flex;
  flex-basis: 100px;
  height: auto;
  min-height: 100vh;
  color: black;
  justify-content: center;
}
.content .container div {
  display: flex;
  margin: 10px;
  align-content: baseline;
}
.columns:nth-of-type(1) {
  flex: 1.5 3 1px;
}
.columns:nth-of-type(2) {
  color: white;
  flex-grow: 4;
  min-width: 100px;
  background-color: #426caf;
  flex-basis: 100px;
}
.columns:nth-of-type(3) {
  color: white;
  flex-grow: 4;
  background-color: #426caf;
  flex-basis: 100px;
}
.columns:nth-of-type(4) {
  flex: 1.5 3 1px;
}

.columns h2 {
  text-decoration-line: underline;
  font-size: 1.5em;
}

.columns img {
  align-items: center;
  display: block;
  max-width: 50%;
  object-fit:contain;
  width: auto;
  height: auto;
}
.columns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 2em;
  padding-right: 2em;
}

/* Media Queries */

@media screen and (max-width: 800px) {
  body {
    font-size: 0.5em;
  }
}

span.inline {
  display: inline;
  width: 100px;
  height: 160px;
  padding: 18px;
  border-style: dashed;
  border-color: antiquewhite;
}

span.box {
  display: inline-block;
  width: 100px;
  height: 160px;
  padding: 18px;
  border-style: dashed;
  border-color: antiquewhite;
}
span.box:hover {
  display: inline-block;
  background-color: aqua;
  width: 100px;
  height: 160px;
  padding: 18px;
  border-style: dashed;
  border-color: rgb(255, 145, 0);
}